{% extends 'layout.html' %}

{% block title %}
- Chat
{% endblock %}

{% block main %}
<div class="parallax">
    <div class="chat-container">
        <div class="chat-header">
            <h1>Chat App</h1>
        </div>
        <div class="chat-messages">
            <div class="message">Hello!</div>
        </div>
        <div class="chat-input">
            <input type="text" placeholder="Type your message...">
            <button>Send</button>
        </div>
    </div>
</div>

{% endblock %}