<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.1/socket.io.min.js"></script>
    <script>
        var socket = io();

        socket.on('connect', function() {
            console.log('Connected to server');
        });

        socket.on('response', function(data) {
            var username = data.username;
            var message = data.message;
            console.log('Received response from ' + username + ': ' + message);
        });

        function SendMessage() {
            var message = document.getElementById('message-form').value;
            socket.emit('message', message);
        }
    </script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style-registr.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chat.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/theme.css') }}">
    <link rel="stylesheet" href=" {{ url_for('static', filename='css/Chat.css') }} ">
</head>

<body>
    <div class="wrapper">
        <div class="container">

            <!-- Header -->
            <header class="header">
                <nav class="header__nav">
                    <!-- Logo -->
                    <a class="header__logo logo" href="/">Project Name</a>

                    <!-- Menu -->
                    <ul class="header__menu">
                        <li class="nav__list">
                            <a class="nav__link" href="/about">About</a>
                        </li>
                        <li class="nav__list">
                            <a class="nav__link" href="/news">News</a>
                        </li>
                        <li class="nav__list">
                            <a class="nav__link" href="/contacts">Contacts</a>
                        </li>
                        <li class="nav__list">
                            <a class="nav__link" href="/chat">Chat</a>
                        </li>
                    </ul>

                    <!-- Search -->
                    <div class="header__search">
                        <form class="header__form">
                            <input class="header__input" type="text" placeholder="Поиск...">
                            <button class="header__button" type="submit">
                                <img class="search-img" src="{{ url_for('static', filename='img/icons/search.png') }}">
                            </button>
                        </form>
                    </div>

                    <!-- Login -->
                    <div class="header__login">
                        {% for link_, text_ in links_.items() %}
                        <a class="login__link" href="{{ link_ }}">{{ text_ }}</a>
                        {% endfor %}
                    </div>
                    <div class="theme-switch">
                        <input type="checkbox" id="theme-switch-checkbox">
                        <label for="theme-switch-checkbox" class="theme-switch-label">
                            <span class="toggle-icons">
                                <i class="fas fa-moon"></i>
                                <i class="fas fa-sun"></i>
                            </span>
                        </label>
                    </div>
                </nav>
                <div class="nav__bottom-border"></div>
            </header>

            <!-- Main -->
            <main class="main">
                {% block main %}{% endblock %}
            </main>

            <!-- Footer -->
            <footer class="footer">
            </footer>

        </div>
    </div>
</body>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>
<script src="{{ url_for('static', filename='js/script-registr.js') }}"></script>

</html>
