{% extends 'layout.html' %}

{% block title %}
- Sign in
{% endblock %}

{% block main %}
<div class="sign">
    <h2 class="sign__title">Sign in</h2>
    <form class="sign__form" method="POST">
        {{ form.hidden_tag() }}
        {% for pole in form if pole.name not in ['remember', 'submit', 'csrf_token']%}
        <div class="txt_field">
            {{ pole() }}
            <span></span>
            <label>{{ pole.label() }}</label>
        </div>
        {% endfor %}
        <div class="bool">{{ form.remember.label() }}<a>{{ form.remember() }}</div>
        <div class="pass"><a href='/resetpass'>Forgot Password?</a></div>
        {{ form.submit() }}
        <div class="signup_link">
            Not a member? <a href="/signup">Sign up</a>
        </div>
    </form>
</div>
{% endblock %}