{% extends 'layout.html' %}

{% block title %}
- Sign up
{% endblock %}

{% block main %}
<div class="sign">
    <h2 class="sign__title">Sign up</h2>
    <form class="sign__form" method="post">
        {{ form.hidden_tag() }}
        {% for pole in form if pole.name not in ['submit', 'csrf_token'] %}

        <div class="txt_field">
            {{ pole() }}
            <span></span>
            <label>{{ pole.label() }}</label>
        </div>

        {% endfor %}
        {{ form.submit() }}
        <div class="signup_link">
            You are a member? <a href="/login">Log in</a>
        </div>
    </form>
</div>
{% endblock %}